
<div id='bg-nav'><div class="bg"></div></div>
    <div class="bg"></div>
    <!-- Navigation -->
    <nav>
        <ul class="left">
            <li><a href="/">AARATI AKKAPEDDI</a></li>
            <li><div id="message">
                <img src='/assets/closed.svg'/><img src='/assets/open.svg'/>
                <span><em>A message for you</em></span>
                <div id="message-inner">
                    <p>
                        Dear Reader,<br>
                        <blockquote>   Thank you for taking the time to look through my work. It means a lot to me.
                        In the top right corner of this page you will find a drop down menu with links to an <a href="https://aarati.online/about.html">about page</a>, <a href="https://aarati.online/">selected works</a>, <a href="/">blog</a> and more. <br> If you are looking for my web development/design work, you may want to check out <a href="https://aarati.online/coding.html">this page.</a> You can contact me directly at <a href="mailto:aarati.akkapeddi@gmail.com">aarati.akkapeddi@gmail.com</a></blockquote>
                        Sending you my best,
                        <blockquote>Aarati Akkapeddi<span id='blinking-cursor'></span></blockquote></p>
                </div>
                <div id="message-outer"></div>
            </div></li>
        </ul>
        <ul class="right">
            <li>
              Currently Viewing:  
                <select id="main-menu" autocomplete="off">
                    <option value="/">Blog</option>
                    <option value="https://aarati.online/about.html">About</option>
                    <option value="https://aarati.online/">Selected Works</option>
                    <option value="https://aarati.online/coding.html">Coding</option>
                    <option value="https://aarati.online/teaching.html">Teaching</option>
                </select>
            </li>
      

        </ul>
    </nav>
    <!-- Nav js-->
    <script>
      window.onload = function(){
          let select = document.querySelector("#main-menu")
          select.selectedIndex = 0
          select.addEventListener("change",function(){
              window.location.href = this.value;
          })

          let open = document.querySelector("#message img:nth-child(1)");
          open.addEventListener("click", function(){
              document.querySelector("#message").classList.add('on')
          })
          let open2 = document.querySelector("#message em");
          open2.addEventListener("click", function(){
              document.querySelector("#message").classList.add('on')
          })
          let close = document.querySelector("#message img:nth-child(2)");
          close.addEventListener("click", function(){
              document.querySelector("#message").classList.remove('on')
          })
          let close2 = document.querySelector("#message-outer");
          close2.addEventListener("click", function(){
              document.querySelector("#message").classList.remove('on')
          })
      }
  </script>
    <!-- End Navigation -->