<svg display="none">
    <defs>
        <filter id="turbulence-1">
         <feTurbulence type="fractalNoise" baseFrequency=".03" numOctaves="2" data-filterId="3" />
         <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="10" />
       </filter>
     
       <filter id="turbulence-2">
         <feTurbulence type="fractalNoise" baseFrequency=".035" numOctaves="2" data-filterId="3" />
         <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="10" />
       </filter>
     
       <filter id="turbulence-3">
         <feTurbulence type="fractalNoise" baseFrequency=".04" numOctaves="2" data-filterId="3" />
         <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="10" />
       </filter>
     
       <filter id="turbulence-4">
         <feTurbulence type="fractalNoise" baseFrequency=".045" numOctaves="2" data-filterId="3" />
         <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="10" />
       </filter>
     
       <filter id="turbulence-5">
         <feTurbulence type="fractalNoise" baseFrequency=".03" numOctaves="2" data-filterId="3" />
         <feDisplacementMap xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" scale="10" />
       </filter>
     </defs>
  </svg>
<!-- Navigation -->
<nav>
    <div><a href="/"><h1>AARATI AKKAPEDDI</h1></a></div>
    <div>
      <a href="/about.html"><span>About</span></a>
      <a href="/"><span>Selected Work</span></a>
   <a href="/fieldnotes/"><span>Field Notes</span></a>  
    </div>
   
        
</nav>
<div id="color-controls">
  <img src='https://aarati.online/assets/sun.svg'/><img src='https://aarati.online/assets/moon.svg'/>
</div>
<!-- End Navigation -->
<div id="message">
    <img src='https://aarati.online/assets/closed.svg'/><img src='https://aarati.online/assets/open.svg'/>
    <span><em></em></span>
    <div id="message-inner">
        <p>
            Dear Reader,<br>
            <blockquote>   Thank you for taking the time to look through my work. It means a lot to me.
                In the top right corner of this page you will find a drop down menu with links to an <a href="./about.html">about page</a>, <a href="/">selected works</a>, <a href="./fieldnotes/">blog</a> and more. <br> If you are looking for my web development/design work, you may want to check out <a href="./coding.html">this page.</a> You can contact me directly at <a href="mailto:aarati.akkapeddi@gmail.com">aarati.akkapeddi@gmail.com</a></blockquote>
            Sending you my best,
            <blockquote>Aarati<span id='blinking-cursor'></span></blockquote></p>
    </div>
    <div id="message-outer"></div>
</div>

<!-- End Navigation -->

  <!-- Nav js-->
  <script>
    window.onload = function(){

        let open = document.querySelector("#message img:nth-child(1)");
        open.addEventListener("click", function(){
            document.querySelector("#message").classList.add('on')
        })
        let open2 = document.querySelector("#message em");
        open2.addEventListener("click", function(){
            document.querySelector("#message").classList.add('on')
        })
        let close = document.querySelector("#message img:nth-child(2)");
        close.addEventListener("click", function(){
            document.querySelector("#message").classList.remove('on')
        })
        let close2 = document.querySelector("#message-outer");
        close2.addEventListener("click", function(){
            document.querySelector("#message").classList.remove('on')
        })
    }
</script>
<script>
  let sun = document.querySelector("#color-controls");
  sun.addEventListener("click", function(){
      if(document.body.classList.contains('dark-mode')){
          document.body.classList.remove('dark-mode')
      }else{
          document.body.classList.add('dark-mode')
      }
  })
</script>