---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">
      {{ page.list_title | default: "These are my 'field notes.' This is where I post fragments (thoughts, images, text) from my creative practice." }}
      <p class="subscribe"><em> <a href="/fieldnotes/feed.xml">Here</a> is an RSS feed for this blog. You can also subscribe <a href="https://aarati.substack.com/">to my Substack newsletter for (very) occasional email updates</a>.</em></p>
    </h1>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- if post.excerpt.size > 0 -%}
              <div class="post-excerpt">{{ post.excerpt }}</div>
            {%- elsif post.thumb -%}
              <img class="post-img" src="/fieldnotes/assets/images/{{post.thumb}}" alt={{post.thumb_alt}}/>
            {%- endif -%}
          </a><br>
        <span class="post-meta">{{ post.date | date: date_format }}</span>

      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>

