---
layout: default
---
<div id="playlist"><span>currently listening to..</span><br><div><iframe allow="encrypted-media" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4I997B1R3W9OweuIWTtvYu?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div></div>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<a href='{{site.baseurl}}/' class="back-link"> ← back to all field notes</a>
  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.title -%}
      <h1>{{page.title}}</h1>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
